
MONGODB_URI=""
#MONGODB_URI="mongodb://localhost:27017"

RPC_SOLANA="https://api.mainnet-beta.solana.com"

SOLANA_WS="wss://solana-mainnet.core.chainstack.com/  <== API KEY HERE "

WALLET_PRIVATE_KEY=""




# Programmes et comptes nécessaires
RPC_URL="https://mainnet.helius-rpc.com/?api-key=  <== API KEY HERE "
PUMP_PROGRAM=6EF8rrecthR5Dkzon8Nwu78hRvfCKubJ14M5uBEwF6P
PUMP_GLOBAL=4wTV1YmiEkRvAtNtsSGPtUrqRYQMe5SKy2uB4Jjaxnjf
PUMP_EVENT_AUTHORITY=Ce6TQqeHC9p8KetsN6JsjHK7UTZk7nasjjnr7XxXp9
# Programmes et comptes nécessaires
PUMP_PROGRAM=6EF8rrecthR5Dkzon8Nwu78hRvfCKubJ14M5uBEwF6P
PUMP_GLOBAL=4wTV1YmiEkRvAtNtsSGPtUrqRYQMe5SKy2uB4Jjaxnjf
PUMP_EVENT_AUTHORITY=Ce6TQqeHC9p8KetsN6JsjHK7UTZk7nasjjnr7XxXp9F1
PUMP_FEE=CebN5WGQ4jvEPvsVU4EoHEpgzq1VV7AbicfhtW4xC9iM
TOKEN_PROGRAM_ID=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
SYSTEM_ASSOCIATED_TOKEN_ACCOUNT_PROGRAM=ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL
SYSTEM_PROGRAM=11111111111111111111111111111111
SYSTEM_RENT=SysvarRent111111111111111111111111111111111

